﻿* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    font-size: 25px;
    font-family: "MS Reference Sans Serif";
    color: rgb(255, 255, 255);
}

body {
    background-color: white;
}

header{
    background-image: url(img/phon.jpg);
    background-size:100%;
    height:657px;
    background-repeat:no-repeat;
}

.head{
    padding-top:15px;
}

.col33{
    float:left;
    width:33%;
    text-align:center;
}

.wheather{
    padding-top:100px;
    text-align:center;
}

.wheather img{
    height:108px;
    width:121px;
}

    .temperature p {
    font-size: 72px;
    font-family: "MS Reference Sans Serif";
    color: rgb(255, 255, 255);
    }

.humidity {
    font-size: 25px;
    font-family: "MS Reference Sans Serif";
    color: rgb(255, 255, 255);
    }