* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../../img/phon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    padding: 20px;
}

.nav__items {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

.nav__link {
    color: white;
    font-size: 1.5rem;
}

.weather {
    text-align: center;
}

.weather__temperature {
    margin: 10px;
}

.footer {
    height: 50px;
    margin-top: auto;
    padding: 20px 0;
    text-align: center;
    background-color: rgba(32, 84, 142, 0.90);
    color: white;
    opacity:0.5;
}

.weather{
    color:white;
    font-size:15px;
}

.weather img{
    height:100px;
    width:100px;
}

.weather__temperature{
    font-size:30px;
}