{% extends "app/layout.html" %}
{% load staticfiles %}

{% block style %}

<style>
    body {
        background-image:none;
        background-color:rgb(167, 199, 249);
    }
</style>

{% endblock %}

{% block content %}
	<canvas class="tmpr-chart" width="100%"></canvas>
	<canvas class="prs-chart" width="100%"></canvas>
	<canvas class="hmdt-chart" width="100%"></canvas>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
	<script type="text/javascript" >
		json_string = '{{ json_str|safe }}'
	</script>
	<script type="text/javascript" src="{% static 'app/scripts/script.js'%}"></script>
{% endblock %}
