{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}
	<div class="weather">
		<img src="{% static 'img\giphy.gif' %}" alt="sun">
		<div class="weather__about">
			<p class="weather__temperature">{{ cur_temperature }} &deg;С</p>
			<p class="weather__more">Относительная влажность: <span id="humidity">{{ cur_humidity }}%</span></p>
            <p class="weather__more">Атмосферное давление: <span id="pressure">{{ cur_pressure }} гПа</span></p>
		</div>
	</div>
	<footer class="footer">
		<p>Информация обновлена {{ cur_time }}</p>
	</footer>
{% endblock %}
