﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="icon" href="{% static 'img/sun.png'%}">
    {% block style %}{% endblock %}
</head>

<body>

<header class="header">
		<nav class="nav">
			<ul class="nav__items">
				<li class="nav__item"><a class="nav__link" href="/">Погода</a></li>
				<li class="nav__item"></li>
				<li class="nav__item"><a class="nav__link" href="/graph">Изменения</a></li>
			</ul>
		</nav>
	</header>
{% block content %}{% endblock %}

{% block scripts %}{% endblock %}

</body>
</html>
